@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { -webkit-transform:scale(0,1) ; }
100% { -webkit-transform:scale(1,1) ; }
} 
@keyframes _idGenKeyFrames-3 {
0% { transform:scale(0,1) ; }
100% { transform:scale(1,1) ; }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { -webkit-transform:scale(0,1) ; }
100% { -webkit-transform:scale(1,1) ; }
} 
@keyframes _idGenKeyFrames-4 {
0% { transform:scale(0,1) ; }
100% { transform:scale(1,1) ; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { -webkit-transform:scale(0,1) ; }
100% { -webkit-transform:scale(1,1) ; }
} 
@keyframes _idGenKeyFrames-5 {
0% { transform:scale(0,1) ; }
100% { transform:scale(1,1) ; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-7 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-7 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-8 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-8 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:600.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer001 {
	height:508px;
	left:0px;
	position:absolute;
	top:0px;
	width:1024px;
}
#_idContainer002 {
	height:501px;
	left:0px;
	position:absolute;
	top:0px;
	width:1024px;
}
#_idContainer003 {
	height:521px;
	left:0px;
	position:absolute;
	top:0px;
	width:1024px;
}
#_idContainer004 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:521.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer005, #_idContainer007, #_idContainer008, #_idContainer010, #_idContainer011, #_idContainer013, #_idContainer015, #_idContainer017, #_idContainer018, #_idContainer020, #_idContainer021, #_idContainer023, #_idContainer025, #_idContainer027, #_idContainer028, #_idContainer030, #_idContainer031, #_idContainer033 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.33px;
}
#_idContainer006, #_idContainer009, #_idContainer012 {
	-webkit-transform:translate(138.409px,28.886px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(138.409px,28.886px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:56.75px;
}
#_idContainer014 {
	-webkit-transform:translate(-0.001px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.33px;
}
#_idContainer016, #_idContainer019, #_idContainer022 {
	-webkit-transform:translate(138.409px,28.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(138.409px,28.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:64.63px;
}
#_idContainer024 {
	-webkit-transform:translate(341.335px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(341.335px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.33px;
}
#_idContainer026, #_idContainer029, #_idContainer032 {
	-webkit-transform:translate(129.820px,30.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(129.820px,30.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:64.63px;
}
#_idContainer034 {
	-webkit-transform:translate(682.670px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(682.670px,500.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.33px;
}
#_idContainer035 {
	height:2px;
	left:0px;
	position:absolute;
	top:0px;
	width:341px;
}
#_idContainer036 {
	height:2px;
	left:341px;
	position:absolute;
	top:0px;
	width:341px;
}
#_idContainer037 {
	height:2px;
	left:683px;
	position:absolute;
	top:0px;
	width:341px;
}
#_idContainer038 {
	-webkit-transform:translate(0.000px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1024.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:0% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:0% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:0% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:0% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:0% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:0% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-8 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-7;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-7;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-9 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-8;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-8;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-2 {
	-webkit-transform:scale(0,1) ;
	-webkit-transform-origin:0% 50%;
	transform:scale(0,1) ;
	transform-origin:0% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-2 {
	-webkit-transform:scale(1,1) ;
	-webkit-transform-origin:0% 50%;
	transform:scale(1,1) ;
	transform-origin:0% 50%;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenMSO {
	visibility:hidden;
}
div._idGenMSO div._idGenCurrentState {
	visibility:visible;
}
div._idGenMSO._idGenStateHide div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide div._idGenMSO div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
