@import url(fonts.css);
/**
*
* CSS para o projeto: "Hotsite Interacoes ePub"
*
* @version      1.0
* @author       Pedro Dias, pedro.filho@webaula.com.br (PSD, HTML, CSS)
* @copyright    Webaula S/A, 2016
* @date         19/07/2016
* @creator      Sublime Text 2
*
* @fontdef      Roboto Black
* @fontdef      Roboto Bold
* @fontdef      Roboto Bold Italic
* @fontdef      Roboto Medium
* @fontdef      Roboto Medium Italic
* @fontdef      Roboto Regular
* @fontdef      Roboto Regular Italic
*
* @colourdef    #ffd100
* @colourdef    #000000
* @colourdef    #ffffff
* @colourdef    #1f1f1f 
*
*
*
* =Reset
*
----------------------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*
*
* =Global
*
----------------------------------------------------------------------------------------------------*/
body {
	font: 14px/1.3 robotoregular, Arial, sans-serif;
	color: #fff;
	background-color: #1f1f1f;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h1, h2 {
	font-family: robotomedium, Arial, sans-serif;
}
h3 {
	font-size: 30px;
}
::selection {
	background-color: rgba(255, 255, 255, .5);
}
.wrap {
	max-width: 1024px;
	overflow: auto;
	margin: 0 auto;
	*position: relative;
	z-index: 10;
}
/*
*
* =WA Network
*
----------------------------------------------------------------------------------------------------*/
#waNetwork {
	background-color: #000 !important;
}
	#waNetwork .container {
		width: 1024px !important;
		padding: 0 !important;
	}
		#waNetwork .network {
		    padding: 0 !important;
		    margin: 3px auto 0 !important;
		}
			#waNetwork .floatRight {
				text-transform: capitalize !important;
			}
			#waNetwork .floatRight a {
				-webkit-transition: 0.3s ease-in-out all !important;
				transition: 0.3s ease-in-out all !important;	
			}
			#waNetwork .floatRight a:hover {
				opacity: 1 !important;
				color: #ffd100 !important;
				border-bottom: none !important;			
			}
/*
*
* =Header
*
----------------------------------------------------------------------------------------------------*/
#header {
	background-image: url(../img/slider_1.jpg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	margin-top: 26px;
	position: relative;
	max-height: 620px;
}
	#header:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, .65) 50%, transparent 150%);
		background-image: linear-gradient(rgba(0, 0, 0, .65) 50%, transparent 150%);
	}
	#header > .wrap {
		position: relative;
	}
		#brand {
			padding: 15px 0;
			border-bottom: 1px solid rgba(255, 255, 255, .2);
		}
			#brand img {
				max-width: 135px;
				height: auto;
			}
		#title, 
		#action {
			text-align: center;
		}		
		#title {
			padding: 65px 0;
		}
			#title h1 {
				color: #ffd100;
			}
		#action {
			border-top: 1px solid #ffd100;
			background-color: rgba(0, 0, 0, .75);
			padding: 55px 0;
		}
			#action h3 > span {
				color: #ffd100;
			}
			#action > a[class*='bt-'] {
				margin-top: 20px;
			}
			.bt-action {
				border: 1px solid #ffd100;
				padding: 10px 15px 10px 50px;
				display: inline-block;
				font-family: robotoregular, Arial, sans-serif;
				font-size: 26px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				min-width: 170px;
				position: relative;
				text-align: right;
			}
				.bt-silver {
					margin-right: 20px;
				}
				.bt-gold {
					padding-right: 22px;
				}
				.bt-action:before, 
				.bt-action:after {
					content: '';
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
				    transform: translateY(-50%);
				}
				.bt-action:before {
				    left: 10px;
				    width: 40px;
				    height: 40px;
				}
					.bt-silver:before, 
					.bt-gold:before {
						background-position: 0 0;
					}
					.bt-silver:before {
						background: transparent url(../img/ico_silver.svg) no-repeat;
					}
					.bt-gold:before {
						background: transparent url(../img/ico_gold.svg) no-repeat;
					}
				.bt-action:after {
					left: 60px;
					width: 1px;
					height: 60%;
					background-color: #ffd100;
				}
			.bt-all {
			    font-family: robotobold, Arial, sans-serif;
			    font-size: 18px;
			    color: #fff;
			    text-transform: uppercase;
			    text-decoration: none;
			    text-align: center;
			    position: relative;
			    width: 10%;
			    margin: 0 auto;
			    display: block;
			}
				.bt-all:after {
					content: '';
					position: absolute;
					width: 95px;
					height: 1px;
					background-color: #fff;
					bottom: -5px;
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
				}
			.bt-action:hover,
			.bt-action.bt-silver.active,
			.bt-action.bt-gold.active {
				color: #000;
				background-color: #ffd100;
			}
			.bt-silver:hover:before, 
			.bt-silver.active:before,
			.bt-gold:hover:before,
			.bt-gold.active:before {
				background-position: 0 -40px;
			}
			.bt-action:hover:after,
			.bt-action.active:after {
				background-color: #000;
			}
			.bt-all:hover,
			.bt-all.active {
				color: #ffd100;
			}
			.bt-all:hover:after,
			.bt-all.active:after {
				background-color: #ffd100; 
			}
			.bt-action, 
			.bt-action:hover, 
			.bt-silver:before, 
			.bt-silver:hover:before, 
			.bt-gold:before, 
			.bt-gold:hover:before, 
			.bt-action:after, 
			.bt-action:hover:after, 
			.bt-all, 
			.bt-all:hover, 
			.bt-all:after, 
			.bt-all:hover:after {
				-webkit-transition: all .1s ease-out;
				transition: all .1s ease-out;
			}
/*
*
* =Content
*
----------------------------------------------------------------------------------------------------*/
#content {
	background: transparent url(../img/bg_interaction.jpg) no-repeat fixed center top;
	padding-bottom: 65px;
}
	#interaction > li {
	    display: inline-block;
	    width: 202px;
	    height: 202px;
	    margin-bottom: 4px;
	}
		#interaction > .filter-hidden {
			display: none;
		}
		#interaction > li > a {
		    display: block;
		    position: relative;
		    width: 100%;
		    height: 100%;
		    max-height: 202px;
		    padding: 25px;
			/*border-top: 1px solid rgba(255, 255, 255, .2);
		    border-right: 1px solid rgba(255, 255, 255, .2);*/
		    border-bottom: 1px solid #ffd100;
		    background-color: rgba(0, 0, 0, .35);
		    text-transform: uppercase;
		    text-decoration: none;
		    text-align: center;
		    color: #fff;
		    overflow: hidden;
		}	
		#interaction > li > a:before {
			    content: '';
			    border-color: transparent #ffd100 #ffd100 transparent;
			    border-width: 20px;
			    border-style: solid;
			    position: absolute;
			    bottom: 0;
			    right: 0;
			}		
			#interaction > li > a:after {
				content: '\f078';
			    font: 15px 'FontAwesome';
			    position: absolute;
			    color: #000;
			    right: 5px;
			    bottom: 5px;
			}
			#interaction > li > a.active:after {
				content: '\f077';
				font: 15px 'FontAwesome';
			}
		#interaction > li > a > .ico-effect {
			width: 76px;
			height: auto;
		}
		#interaction > li > a > hr {
			position: absolute;
			top: 104px;
			width: 35px;
			height: 1px;
			border: none;
		}
			#interaction > li > a > .hr-primary {
				background-color: #ffd100;
				left: 83px;
				margin-left: auto;
				margin-right: auto;
			}
			#interaction > li > a > .hr-effect {
				position: absolute;
				right: -175px;
				background-color: #000;
			}
		#interaction > li > a > p {
			font: 14px/1.4 robotoregular, Arial, sans-serif;
			letter-spacing: 5px;
			position: relative;
			top: 22px;
		}
		#interaction > li > a .icons-plan {
			position: absolute;
			text-align: center;
			padding: 25px 20px 20px;
			left: 0;
			right: 0;
			bottom: -90px;
		}
		#interaction > li > a .ico-plan {
			display: inline-block;
			/*position: absolute;
			top: 250px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;*/
			width: 40px;
			height: 40px;
		}
			#interaction > li > a .ico-silver, 
			#interaction > li > a .ico-gold {
				background-position: 0 -40px;
			}
			#interaction > li > a .ico-silver {
				background-image: url(../img/ico_silver.svg);
				margin-right: 2px;
			}
			#interaction > li > a .ico-gold {
				background-image: url(../img/ico_gold.svg);
				margin-left: 2px;
			}
			#interaction > li.silver > a .ico-gold {
				display: none;
			}
		#interaction > li.expanded {
			height: 905px;
		}			
			#interaction > li > .iframe {
				display: none;
				z-index: 1000;
				position: absolute;
				top: auto;
				left: 0;
				width: 100%;
				height: 700px;
				background-color: rgba(255, 255, 255, .2);
				padding: 50px 0;
				margin-top: 3px;		
			}
			#interaction li.expanded > .iframe {
				display: block; 
			}
			#interaction li.expanded > .iframe iframe {
				width: 100%;
				height: 600px;
			}
		#interaction > li > a:hover, 
		#interaction > li > a.active {
			color: #000;
		}
			#interaction > li > a:hover:before, 
			#interaction > li > a.active:before {
				border-width: 220px;
			}
			#interaction > li > a:hover > .ico-effect, 
			#interaction > li > a.active > .ico-effect {
				-webkit-filter: brightness(0%);
				filter: brightness(0%);
			}
			#interaction > li > a:hover > .hr-primary, 
			#interaction > li > a.active > .hr-primary {
				left: -100%;
			}
			#interaction > li > a:hover > .hr-effect, 
			#interaction > li > a.active > .hr-effect {
				right: 85px;
			}
			#interaction > li > a:hover > p, 
			#interaction > li > a.active > p {
				top: 250px;
			}
			#interaction > li > a:hover .icons-plan,
			#interaction > li > a.active .icons-plan {
				bottom: 0;
			}
			#interaction > li > a:hover .ico-plan, 
			#interaction > li > a.active .ico-plan {
				top: 136px;
			}
			#interaction > li,
			#interaction > li > a, 
			#interaction > li > a:before, 
			#interaction > li > a > .ico-effect,
			#interaction > li > a > .hr-primary,
			#interaction > li > a > .hr-effect,
			#interaction > li > a > p,
			#interaction > li > a .icons-plan,
			#interaction > li > a .ico-plan {
				-webkit-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
			}
			#interaction > li:hover,
			#interaction > li > a:hover, 
			#interaction > li > a:hover:before, 
			#interaction > li > a:hover > .ico-effect,
			#interaction > li > a:hover > .hr-primary,
			#interaction > li > a:hover > .hr-effect,
			#interaction > li > a:hover > p,
			#interaction > li > a:hover .icons-plan,
			#interaction > li > a:hover .ico-plan {
				-webkit-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
			}

/*
*
* =Footer
*
----------------------------------------------------------------------------------------------------*/
#footer {
	background: transparent url(../img/bg_footer.jpg) no-repeat center;
	text-align: center;
	padding: 75px 0;
	color: #1f1f1f;
}
	#footer h1 {
		position: relative;
		display: inline-block;
		margin-bottom: 75px;
	}
		#footer h1:after {
		    content: '';
		    position: absolute;
		    bottom: 0;
		    width: 100%;
		    height: 1px;
		    background-color: #1f1f1f;
		    left: 0;
		    right: 0;
		}
	#footer li {
		width: 25%;
		display: inline-block;
		float: left;
	}
		#footer strong {
			font-family: robotobold, Arial, sans-serif;
			font-size: 30px;
		}
		#footer p {
			font-size: 24px;
		}