// ==========================================================================
// Fonts
// ==========================================================================

$fs: 14, 18, 20, 24, 28, 32, 36, 40;
@each $size in $fs {
    .pd-fs-#{$size} { font-size: ($size)/10 + rem; }
}

$fs-reset: 62.5%;
$fs-default: 1.8rem;
$lh-default: 1.8;

// ==========================================================================
// Colors
// ==========================================================================
$color-1: #fff;
$color-2: #000;
$color-3: #001219;
$color-4: #5b5b5b;

$colors: (
	1: $color-1,
	2: $color-2,
	3: $color-3,
	4: $color-4
);

@each $count, $color in $colors {
    .pd-bgc-#{$count} { background-color: $color; } 
    .pd-color-#{$count} { color: $color; }
}

// ==========================================================================
// Padding / Margin
// ==========================================================================
$layout-module-size: 20px;
$directions: top, right, bottom, left;

$space-element: $layout-module-size * 2;

@each $direction in $directions {
    .pd-padding-no-#{$direction} { padding-#{$direction}: 0 !important; }
    .pd-padding-half-#{$direction} { padding-#{$direction}: $layout-module-size / 2; }
    .pd-padding-default-#{$direction} { padding-#{$direction}: $layout-module-size; }
    .pd-padding-double-#{$direction} { padding-#{$direction}: $layout-module-size * 2; }
    .pd-margin-no-#{$direction} { margin-#{$direction}: 0 !important; }
    .pd-margin-half-#{$direction} { margin-#{$direction}: $layout-module-size / 2; }
    .pd-margin-default-#{$direction} { margin-#{$direction}: $layout-module-size; }
    .pd-margin-double-#{$direction} { margin-#{$direction}: $layout-module-size * 2; }
}