@-webkit-keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-3 {
0% { opacity:0; }
100% { opacity:1; }
} 
@font-face {
	font-family:Roboto;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Roboto-Bold.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#1f1f1f;
	font-family:Roboto, sans-serif;
	font-size:300px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#808080;
	font-family:Roboto, sans-serif;
	font-size:300px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:600.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer001 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:284.50px;
}
#_idContainer002 {
	-webkit-perspective:1px;
	-webkit-transform:translate(17.247px,12.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.247px,12.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:250.00px;
}
#_idContainer003 {
	-webkit-transform:translate(385.500px,504.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(385.500px,504.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:284.50px;
}
#_idContainer004, #_idContainer005, #_idContainer008, #_idContainer009 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:325.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:267.38px;
}
#_idContainer006, #_idContainer010 {
	height:326px;
	left:0px;
	position:absolute;
	top:0px;
	width:267px;
}
#_idContainer007 {
	height:326px;
	left:200px;
	position:absolute;
	top:119px;
	width:267px;
}
#_idContainer011 {
	height:326px;
	left:556px;
	position:absolute;
	top:121px;
	width:267px;
}
#_idContainer012, #_idContainer016, #_idContainer017, #_idContainer021 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:85.00px;
}
#_idContainer013, #_idContainer018 {
	-webkit-perspective:1px;
	-webkit-transform:translate(6.983px,6.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.983px,6.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:38.65px;
}
#_idContainer014, #_idContainer019 {
	-webkit-transform:translate(53.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.00px;
}
#_idContainer015, #_idContainer020 {
	-webkit-transform:translate(57.000px,4.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.000px,4.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:24.52px;
}
#_idContainer022 {
	-webkit-transform:translate(891.000px,534.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(891.000px,534.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:85.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	opacity:0;
}
div._idGenAnimationEnd-1 {
	opacity:1;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenMSO {
	visibility:hidden;
}
div._idGenMSO div._idGenCurrentState {
	visibility:visible;
}
div._idGenMSO._idGenStateHide div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide div._idGenMSO div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
