@-webkit-keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-3 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-4 {
0% { transform:translate(-1px,233px) ; opacity:0; }
9.0909% { transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-5 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-231px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-168px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(-118px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(-79px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(-50px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(-29px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(-15px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(-6px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(-2px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(-307px,0px) ; opacity:0; }
9.0909% { transform:translate(-231px,0px) ; opacity:0.091; }
18.1818% { transform:translate(-168px,0px) ; opacity:0.182; }
27.2727% { transform:translate(-118px,0px) ; opacity:0.273; }
36.3636% { transform:translate(-79px,0px) ; opacity:0.364; }
45.4545% { transform:translate(-50px,0px) ; opacity:0.455; }
54.5455% { transform:translate(-29px,0px) ; opacity:0.545; }
63.6364% { transform:translate(-15px,0px) ; opacity:0.636; }
72.7273% { transform:translate(-6px,0px) ; opacity:0.727; }
81.8182% { transform:translate(-2px,0px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-7 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-7 {
0% { transform:translate(-1px,233px) ; opacity:0; }
9.0909% { transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-8 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-8 {
0% { transform:translate(307px,0px) ; opacity:0; }
9.0909% { transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#6e6f72;
	font-family:"Odebrecht Sans", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#f08223;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"Open Sans", sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#1d7d76;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-6 {
	color:#c7de42;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:900px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Odebrecht Sans", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#6d6e71;
	font-family:"Odebrecht Sans", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:"Odebrecht Sans", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#e52228;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:1627.7px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-11 {
	color:#e52329;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:1232.8px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-12 {
	color:#e3661b;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-13 {
	color:#6d6e71;
	font-family:"Odebrecht Sans", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#e3661b;
	font-family:"Odebrecht Sans Bold", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:600;
}
#_idContainer1788, #_idContainer1789, #_idContainer1799, #_idContainer1832, #_idContainer1862, #_idContainer1892, #_idContainer1918, #_idContainer1948, #_idContainer2037, #_idContainer2038, #_idContainer2068, #_idContainer2098, #_idContainer2155, #_idContainer2184, #_idContainer2214, #_idContainer2215 {
	height:620px;
	left:-10px;
	position:absolute;
	top:-10px;
	width:1044px;
}
#_idContainer1790 {
	height:290px;
	left:-10px;
	position:absolute;
	top:-10px;
	width:1044px;
}
#_idContainer1791 {
	-webkit-perspective:1px;
	height:120px;
	left:55px;
	position:absolute;
	top:107px;
	width:907px;
}
#_idContainer1792 {
	-webkit-perspective:1px;
	height:26px;
	left:55px;
	position:absolute;
	top:239px;
	width:87px;
}
#_idContainer1793, #_idContainer1796 {
	height:50px;
	left:0px;
	position:absolute;
	top:0px;
	width:158px;
}
#_idContainer1794 {
	height:25px;
	left:0px;
	position:absolute;
	top:25px;
	width:158px;
}
#_idContainer1795 {
	-webkit-perspective:1px;
	height:31px;
	left:44px;
	position:absolute;
	top:9px;
	width:69px;
}
#_idContainer1797 {
	height:50px;
	left:433px;
	position:absolute;
	top:291px;
	width:158px;
}
#_idContainer1798 {
	-webkit-perspective:1px;
	height:39px;
	left:55px;
	position:absolute;
	top:58px;
	width:225px;
}
#_idContainer1800, #_idContainer1833, #_idContainer1863, #_idContainer1893, #_idContainer1919, #_idContainer1949, #_idContainer2039, #_idContainer2069, #_idContainer2099, #_idContainer2185 {
	height:46px;
	left:-10px;
	position:absolute;
	top:547px;
	width:522px;
}
#_idContainer1801, #_idContainer1834, #_idContainer1864, #_idContainer1894, #_idContainer1920, #_idContainer1950, #_idContainer2040, #_idContainer2070, #_idContainer2100, #_idContainer2186 {
	height:46px;
	left:512px;
	position:absolute;
	top:547px;
	width:522px;
}
#_idContainer1802, #_idContainer1835, #_idContainer1865, #_idContainer1895, #_idContainer1921, #_idContainer1951, #_idContainer2041, #_idContainer2071, #_idContainer2101, #_idContainer2187 {
	height:81px;
	left:-10px;
	position:absolute;
	top:41px;
	width:1034px;
}
#_idContainer1803, #_idContainer1836, #_idContainer1866, #_idContainer1896, #_idContainer1922, #_idContainer1952, #_idContainer2042, #_idContainer2072, #_idContainer2102, #_idContainer2188 {
	height:22px;
	left:-10px;
	position:absolute;
	top:593px;
	width:1044px;
}
#_idContainer1804, #_idContainer1837, #_idContainer1867, #_idContainer1897, #_idContainer1923, #_idContainer1953, #_idContainer2043, #_idContainer2073, #_idContainer2103, #_idContainer2189 {
	height:29px;
	left:26px;
	position:absolute;
	top:-5px;
	width:76px;
}
#_idContainer1805, #_idContainer1838, #_idContainer1868, #_idContainer1898, #_idContainer1924, #_idContainer1954, #_idContainer2044, #_idContainer2074, #_idContainer2104, #_idContainer2190 {
	height:16px;
	left:0px;
	position:absolute;
	top:0px;
	width:16px;
}
#_idContainer1806, #_idContainer1839, #_idContainer1869, #_idContainer1899, #_idContainer1925, #_idContainer1955, #_idContainer2045, #_idContainer2075, #_idContainer2105, #_idContainer2191 {
	height:17px;
	left:200px;
	position:absolute;
	top:562px;
	width:103px;
}
#_idContainer1807, #_idContainer1840, #_idContainer1870, #_idContainer1900, #_idContainer1926, #_idContainer1956, #_idContainer2046, #_idContainer2076, #_idContainer2106, #_idContainer2192 {
	height:29px;
	left:0px;
	position:absolute;
	top:-5px;
	width:76px;
}
#_idContainer1808, #_idContainer1841, #_idContainer1871, #_idContainer1901, #_idContainer1927, #_idContainer1957, #_idContainer2047, #_idContainer2077, #_idContainer2107, #_idContainer2193 {
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:16px;
	left:104px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:16px;
}
#_idContainer1809, #_idContainer1842, #_idContainer1872, #_idContainer1902, #_idContainer1928, #_idContainer1958, #_idContainer2048, #_idContainer2078, #_idContainer2108, #_idContainer2194 {
	height:17px;
	left:721px;
	position:absolute;
	top:562px;
	width:104px;
}
#_idContainer1810, #_idContainer1843, #_idContainer1873, #_idContainer1903, #_idContainer1929, #_idContainer1959, #_idContainer2049, #_idContainer2079, #_idContainer2109, #_idContainer2195 {
	height:46px;
	left:512px;
	position:absolute;
	top:547px;
	width:1px;
}
#_idContainer1811, #_idContainer1844, #_idContainer1874, #_idContainer1904, #_idContainer1930, #_idContainer1960, #_idContainer2050, #_idContainer2080, #_idContainer2110, #_idContainer2196 {
	height:8px;
	left:290px;
	position:absolute;
	top:78px;
	width:744px;
}
#_idContainer1812, #_idContainer1845, #_idContainer1875, #_idContainer1905, #_idContainer1931, #_idContainer2051, #_idContainer2081, #_idContainer2111, #_idContainer2197 {
	height:29px;
	left:55px;
	position:absolute;
	top:139px;
	width:914px;
}
#_idContainer1813 {
	height:57px;
	left:55px;
	position:absolute;
	top:55px;
	width:211px;
}
#_idContainer1814, #_idContainer1819, #_idContainer1824, #_idContainer1852, #_idContainer1857, #_idContainer1877, #_idContainer1882, #_idContainer1887, #_idContainer1908, #_idContainer1913, #_idContainer1933, #_idContainer1938, #_idContainer1943, #_idContainer2053, #_idContainer2058, #_idContainer2063, #_idContainer2083, #_idContainer2088, #_idContainer2093, #_idContainer2199, #_idContainer2204, #_idContainer2209 {
	height:95px;
	left:69px;
	position:absolute;
	top:0px;
	width:842px;
}
#_idContainer1815, #_idContainer1820, #_idContainer1825, #_idContainer1878, #_idContainer1883, #_idContainer1888, #_idContainer1934, #_idContainer1939, #_idContainer1944, #_idContainer2200, #_idContainer2205 {
	height:50px;
	left:86px;
	position:absolute;
	top:23px;
	width:806px;
}
#_idContainer1816, #_idContainer1821, #_idContainer1826, #_idContainer1849, #_idContainer1854, #_idContainer1859, #_idContainer1879, #_idContainer1884, #_idContainer1889, #_idContainer1910, #_idContainer1915, #_idContainer1935, #_idContainer1940, #_idContainer1945, #_idContainer2055, #_idContainer2060, #_idContainer2065, #_idContainer2085, #_idContainer2090, #_idContainer2095, #_idContainer2115, #_idContainer2122, #_idContainer2129, #_idContainer2136, #_idContainer2143, #_idContainer2150, #_idContainer2201, #_idContainer2206, #_idContainer2211 {
	height:95px;
	left:0px;
	position:absolute;
	top:0px;
	width:71px;
}
#_idContainer1817, #_idContainer1850, #_idContainer1880, #_idContainer1936, #_idContainer2056, #_idContainer2086, #_idContainer2202 {
	height:57px;
	left:24px;
	position:absolute;
	top:21px;
	width:24px;
}
#_idContainer1818, #_idContainer1851, #_idContainer1881, #_idContainer1917, #_idContainer1937, #_idContainer2057, #_idContainer2087, #_idContainer2203 {
	height:95px;
	left:56px;
	position:absolute;
	top:309px;
	width:912px;
}
#_idContainer1822, #_idContainer1855, #_idContainer1885, #_idContainer1941, #_idContainer2061, #_idContainer2091, #_idContainer2207 {
	height:57px;
	left:24px;
	position:absolute;
	top:18px;
	width:22px;
}
#_idContainer1823, #_idContainer1856, #_idContainer1886, #_idContainer1942, #_idContainer2062, #_idContainer2092, #_idContainer2208 {
	height:95px;
	left:56px;
	position:absolute;
	top:186px;
	width:912px;
}
#_idContainer1827, #_idContainer1860, #_idContainer1890, #_idContainer1946, #_idContainer2066, #_idContainer2096, #_idContainer2212 {
	height:57px;
	left:24px;
	position:absolute;
	top:17px;
	width:22px;
}
#_idContainer1828, #_idContainer1861, #_idContainer1891, #_idContainer1912, #_idContainer1947, #_idContainer2067, #_idContainer2097, #_idContainer2213 {
	height:95px;
	left:56px;
	position:absolute;
	top:432px;
	width:912px;
}
#_idContainer1829 {
	height:32px;
	left:71px;
	position:absolute;
	top:218px;
	width:42px;
}
#_idContainer1830 {
	height:31px;
	left:76px;
	position:absolute;
	top:465px;
	width:32px;
}
#_idContainer1831 {
	height:31px;
	left:76px;
	position:absolute;
	top:342px;
	width:32px;
}
#_idContainer1846 {
	height:57px;
	left:55px;
	position:absolute;
	top:55px;
	width:219px;
}
#_idContainer1847 {
	height:98px;
	left:69px;
	position:absolute;
	top:-3px;
	width:842px;
}
#_idContainer1848, #_idContainer1853, #_idContainer1858 {
	height:75px;
	left:86px;
	position:absolute;
	top:8px;
	width:806px;
}
#_idContainer1876, #_idContainer1932, #_idContainer2052 {
	height:57px;
	left:55px;
	position:absolute;
	top:55px;
	width:220px;
}
#_idContainer1906, #_idContainer2082, #_idContainer2198 {
	height:57px;
	left:55px;
	position:absolute;
	top:55px;
	width:222px;
}
#_idContainer1907 {
	height:74px;
	left:56px;
	position:absolute;
	top:198px;
	width:911px;
}
#_idContainer1909, #_idContainer1914, #_idContainer2054, #_idContainer2059, #_idContainer2064, #_idContainer2084, #_idContainer2089, #_idContainer2094, #_idContainer2210 {
	height:26px;
	left:86px;
	position:absolute;
	top:35px;
	width:806px;
}
#_idContainer1911 {
	height:57px;
	left:24px;
	position:absolute;
	top:17px;
	width:24px;
}
#_idContainer1916 {
	height:57px;
	left:24px;
	position:absolute;
	top:16px;
	width:24px;
}
#_idContainer1961 {
	height:55px;
	left:55px;
	position:absolute;
	top:139px;
	width:914px;
}
#_idContainer1962, #_idContainer2112 {
	height:57px;
	left:55px;
	position:absolute;
	top:55px;
	width:221px;
}
#_idContainer1963 {
	height:95px;
	left:124px;
	position:absolute;
	top:203px;
	width:210px;
}
#_idContainer1964 {
	height:26px;
	left:202px;
	position:absolute;
	top:238px;
	width:50px;
}
#_idContainer1965 {
	height:95px;
	left:55px;
	position:absolute;
	top:203px;
	width:71px;
}
#_idContainer1966 {
	height:95px;
	left:442px;
	position:absolute;
	top:203px;
	width:210px;
}
#_idContainer1967 {
	height:26px;
	left:507px;
	position:absolute;
	top:238px;
	width:77px;
}
#_idContainer1968 {
	height:95px;
	left:372px;
	position:absolute;
	top:203px;
	width:71px;
}
#_idContainer1969 {
	height:95px;
	left:759px;
	position:absolute;
	top:203px;
	width:210px;
}
#_idContainer1970 {
	height:26px;
	left:789px;
	position:absolute;
	top:238px;
	width:149px;
}
#_idContainer1971 {
	height:95px;
	left:689px;
	position:absolute;
	top:203px;
	width:71px;
}
#_idContainer1972 {
	height:95px;
	left:124px;
	position:absolute;
	top:312px;
	width:210px;
}
#_idContainer1973 {
	height:26px;
	left:151px;
	position:absolute;
	top:347px;
	width:152px;
}
#_idContainer1974 {
	height:95px;
	left:55px;
	position:absolute;
	top:312px;
	width:71px;
}
#_idContainer1975 {
	height:95px;
	left:442px;
	position:absolute;
	top:312px;
	width:210px;
}
#_idContainer1976 {
	height:26px;
	left:492px;
	position:absolute;
	top:347px;
	width:100px;
}
#_idContainer1977 {
	height:95px;
	left:372px;
	position:absolute;
	top:312px;
	width:71px;
}
#_idContainer1978 {
	height:95px;
	left:759px;
	position:absolute;
	top:312px;
	width:210px;
}
#_idContainer1979 {
	height:26px;
	left:830px;
	position:absolute;
	top:347px;
	width:61px;
}
#_idContainer1980 {
	height:95px;
	left:689px;
	position:absolute;
	top:312px;
	width:71px;
}
#_idContainer1981 {
	height:95px;
	left:124px;
	position:absolute;
	top:426px;
	width:210px;
}
#_idContainer1982 {
	height:26px;
	left:173px;
	position:absolute;
	top:461px;
	width:106px;
}
#_idContainer1983 {
	height:95px;
	left:55px;
	position:absolute;
	top:426px;
	width:71px;
}
#_idContainer1984, #_idContainer1987, #_idContainer1990, #_idContainer1993, #_idContainer1996, #_idContainer1999, #_idContainer2002, #_idContainer2116, #_idContainer2123, #_idContainer2130, #_idContainer2137, #_idContainer2144, #_idContainer2151 {
	height:19px;
	left:20px;
	position:absolute;
	top:15px;
	width:18px;
}
#_idContainer1985, #_idContainer1988, #_idContainer1991, #_idContainer1994, #_idContainer1997, #_idContainer2000, #_idContainer2003, #_idContainer2117, #_idContainer2124, #_idContainer2131, #_idContainer2138, #_idContainer2145, #_idContainer2152 {
	height:25px;
	left:0px;
	position:absolute;
	top:0px;
	width:30px;
}
#_idContainer1986 {
	height:33px;
	left:72px;
	position:absolute;
	top:234px;
	width:38px;
}
#_idContainer1989 {
	height:33px;
	left:72px;
	position:absolute;
	top:343px;
	width:38px;
}
#_idContainer1992 {
	height:33px;
	left:72px;
	position:absolute;
	top:457px;
	width:38px;
}
#_idContainer1995 {
	height:33px;
	left:389px;
	position:absolute;
	top:234px;
	width:38px;
}
#_idContainer1998 {
	height:33px;
	left:389px;
	position:absolute;
	top:343px;
	width:38px;
}
#_idContainer2001 {
	height:33px;
	left:706px;
	position:absolute;
	top:234px;
	width:38px;
}
#_idContainer2004 {
	height:33px;
	left:706px;
	position:absolute;
	top:343px;
	width:38px;
}
#_idContainer2005 {
	height:620px;
	left:0px;
	position:absolute;
	top:0px;
	width:1044px;
}
#_idContainer2006, #_idContainer2012, #_idContainer2016, #_idContainer2020, #_idContainer2024, #_idContainer2028, #_idContainer2032, #_idContainer2156, #_idContainer2161, #_idContainer2162, #_idContainer2166, #_idContainer2170, #_idContainer2174, #_idContainer2178 {
	height:69px;
	left:0px;
	position:absolute;
	top:0px;
	width:910px;
}
#_idContainer2007, #_idContainer2033, #_idContainer2157, #_idContainer2179 {
	height:48px;
	left:66px;
	position:absolute;
	top:10px;
	width:834px;
}
#_idContainer2008, #_idContainer2158 {
	height:33px;
	left:0px;
	position:absolute;
	top:0px;
	width:38px;
}
#_idContainer2009, #_idContainer2159 {
	height:24px;
	left:3px;
	position:absolute;
	top:5px;
	width:32px;
}
#_idContainer2010, #_idContainer2014, #_idContainer2018, #_idContainer2022, #_idContainer2026, #_idContainer2030, #_idContainer2034, #_idContainer2160, #_idContainer2164, #_idContainer2168, #_idContainer2172, #_idContainer2176, #_idContainer2180 {
	height:33px;
	left:11px;
	position:absolute;
	top:18px;
	width:38px;
}
#_idContainer2011 {
	height:69px;
	left:65px;
	position:absolute;
	top:75px;
	width:910px;
}
#_idContainer2013, #_idContainer2021, #_idContainer2025, #_idContainer2029 {
	height:48px;
	left:66px;
	position:absolute;
	top:11px;
	width:834px;
}
#_idContainer2015 {
	height:69px;
	left:65px;
	position:absolute;
	top:220px;
	width:910px;
}
#_idContainer2017, #_idContainer2163, #_idContainer2167, #_idContainer2171, #_idContainer2175 {
	height:25px;
	left:66px;
	position:absolute;
	top:22px;
	width:834px;
}
#_idContainer2019 {
	height:69px;
	left:65px;
	position:absolute;
	top:293px;
	width:910px;
}
#_idContainer2023 {
	height:69px;
	left:65px;
	position:absolute;
	top:366px;
	width:910px;
}
#_idContainer2027 {
	height:69px;
	left:65px;
	position:absolute;
	top:439px;
	width:910px;
}
#_idContainer2031 {
	height:69px;
	left:65px;
	position:absolute;
	top:511px;
	width:910px;
}
#_idContainer2035, #_idContainer2181 {
	height:24px;
	left:14px;
	position:absolute;
	top:22px;
	width:32px;
}
#_idContainer2036 {
	height:69px;
	left:65px;
	position:absolute;
	top:148px;
	width:910px;
}
#_idContainer2113, #_idContainer2120, #_idContainer2127, #_idContainer2134, #_idContainer2141, #_idContainer2148 {
	height:95px;
	left:69px;
	position:absolute;
	top:0px;
	width:210px;
}
#_idContainer2114 {
	height:26px;
	left:150px;
	position:absolute;
	top:35px;
	width:50px;
}
#_idContainer2118, #_idContainer2125, #_idContainer2132, #_idContainer2139, #_idContainer2146, #_idContainer2153 {
	height:33px;
	left:17px;
	position:absolute;
	top:31px;
	width:38px;
}
#_idContainer2119 {
	height:95px;
	left:55px;
	position:absolute;
	top:223px;
	width:280px;
}
#_idContainer2121 {
	height:26px;
	left:156px;
	position:absolute;
	top:35px;
	width:36px;
}
#_idContainer2126 {
	height:95px;
	left:55px;
	position:absolute;
	top:374px;
	width:280px;
}
#_idContainer2128 {
	height:26px;
	left:165px;
	position:absolute;
	top:35px;
	width:19px;
}
#_idContainer2133 {
	height:95px;
	left:372px;
	position:absolute;
	top:223px;
	width:280px;
}
#_idContainer2135 {
	height:26px;
	left:163px;
	position:absolute;
	top:35px;
	width:22px;
}
#_idContainer2140 {
	height:95px;
	left:372px;
	position:absolute;
	top:374px;
	width:280px;
}
#_idContainer2142 {
	height:26px;
	left:168px;
	position:absolute;
	top:35px;
	width:12px;
}
#_idContainer2147 {
	height:95px;
	left:689px;
	position:absolute;
	top:223px;
	width:280px;
}
#_idContainer2149 {
	height:26px;
	left:164px;
	position:absolute;
	top:35px;
	width:22px;
}
#_idContainer2154 {
	height:95px;
	left:689px;
	position:absolute;
	top:374px;
	width:280px;
}
#_idContainer2165 {
	height:69px;
	left:0px;
	position:absolute;
	top:163px;
	width:910px;
}
#_idContainer2169 {
	height:69px;
	left:0px;
	position:absolute;
	top:245px;
	width:910px;
}
#_idContainer2173 {
	height:69px;
	left:0px;
	position:absolute;
	top:326px;
	width:910px;
}
#_idContainer2177 {
	height:69px;
	left:0px;
	position:absolute;
	top:408px;
	width:910px;
}
#_idContainer2182 {
	height:69px;
	left:0px;
	position:absolute;
	top:82px;
	width:910px;
}
#_idContainer2183 {
	height:477px;
	left:55px;
	position:absolute;
	top:79px;
	width:910px;
}
#_idContainer2216 {
	-webkit-perspective:1px;
	height:102px;
	left:12px;
	position:absolute;
	top:33px;
	width:357px;
}
#_idContainer2217 {
	-webkit-perspective:1px;
	height:78px;
	left:0px;
	position:absolute;
	top:-13px;
	width:354px;
}
#_idContainer2218 {
	height:111px;
	left:55px;
	position:absolute;
	top:80px;
	width:369px;
}
#_idContainer2219 {
	height:319px;
	left:0px;
	position:absolute;
	top:0px;
	width:352px;
}
#_idContainer2220 {
	-webkit-perspective:1px;
	height:232px;
	left:0px;
	position:absolute;
	top:-5px;
	width:313px;
}
#_idContainer2221 {
	height:1px;
	left:6px;
	position:absolute;
	top:267px;
	width:327px;
}
#_idContainer2222 {
	-webkit-perspective:1px;
	height:24px;
	left:0px;
	position:absolute;
	top:237px;
	width:221px;
}
#_idContainer2223 {
	height:2px;
	left:0px;
	position:absolute;
	top:266px;
	width:66px;
}
#_idContainer2224 {
	height:268px;
	left:19px;
	position:absolute;
	top:26px;
	width:333px;
}
#_idContainer2225 {
	height:319px;
	left:64px;
	position:absolute;
	top:212px;
	width:352px;
}
#_idContainer2226, #_idContainer2228 {
	height:424px;
	left:0px;
	position:absolute;
	top:0px;
	width:552px;
}
#_idVideo004 {
	-webkit-transform:translate(-0.001%,0.035%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.999);
	-webkit-transform-origin:0% 0%;
	height:100%;
	object-fit:fill;
	transform:translate(-0.001%,0.035%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.999);
	transform-origin:0% 0%;
	width:100%;
}
#_idContainer2227 {
	background-image:url(../image/1549.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:335px;
	left:53px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:44px;
	width:446px;
}
#_idContainer2229 {
	height:349px;
	left:0px;
	position:absolute;
	top:0px;
	width:465px;
}
#_idContainer2230 {
	height:349px;
	left:43px;
	position:absolute;
	top:37px;
	width:465px;
}
#_idContainer2231 {
	height:424px;
	left:444px;
	position:absolute;
	top:118px;
	width:552px;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:335px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:446px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.500s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.500s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:1.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:1.500s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.500s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:2.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:2.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:0.500s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.500s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-8 {
	-webkit-animation-delay:1.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-7;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-7;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-9 {
	-webkit-animation-delay:1.500s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-8;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.500s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-8;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	opacity:0;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-3 {
	-webkit-transform:translate(-1px,233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-4 {
	-webkit-transform:translate(-307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-5 {
	-webkit-transform:translate(307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	opacity:1;
}
div._idGenAnimationEnd-2 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
